<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <app-breadcrumbs></app-breadcrumbs>

            <ui-view name="actions" style="background-color:blue;" class="row">
                actions@app
            </ui-view>

            <ui-view name="content" style="background-color:red;" class="row">
                content@app
            </ui-view>

        </div>

    </div>

</div>