<div class="row cabecera">
    <app-header></app-header>
</div>
<div style="background-color:green" class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
        <div style="background-color:yellow;" class="row">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        <ui-view name="actions" style="background-color:blue;" class="row">
            actions@app
        </ui-view>
        <ui-view name="content" style="background-color:red;" class="row">
            content@app
        </ui-view>
    </div>
</div>