<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">N° Documento</th>
            <th scope="col">Codigo</th>
            <th scope="col">Version</th>
            <th scope="col">Creado por</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productoresultsPage of productoresultsPage.content">
            <td>{{productoresultsPage.nombres}}</td>
            <td>{{productoresultsPage.tipoDocumento}}</td>
            <td>{{productoresultsPage.nroDocumento}}</td>
            <td>{{productoresultsPage.codigo}}</td>
            <td>{{productoresultsPage.version}}</td>
            <td>{{productoresultsPage.createdBy}}</td>
        </tr>
    </tbody>
</table>