<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">N Documento</th>
            <th scope="col">Codigo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedoresPage of proveedoresPage.content">
            <td>{{proveedoresPage.nombres}}</td>
            <td>{{proveedoresPage.tipoDocumento}}</td>
            <td>{{proveedoresPage.nroDocumento}}</td>
            <td>{{proveedoresPage.codigo}}</td>
        </tr>
    </tbody>
</table>